.product {
  text-align: center;
  height: 100px;
  border: 1px solid #d3d3d3;
  padding-top: 20px;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    .price {
      font-weight: bold;
    }
  }
}

.face {
  height: 60px;
  margin: auto 10px;
}

.price {
}
